<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">
            <dl class="col-article">
                <dt>人工客服</dt>
                <dd><a rel="nofollow" href="#" target="_blank">400-100-5678</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">在线咨询</a></dd>
                <dd><a>(9:00-18:00)</a></dd>
            </dl>
            <dl class="col-article">
                <dt>帮助中心</dt>
                <dd><a rel="nofollow" href="#" target="_blank">账户管理</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">购物指南</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">订单操作</a></dd>
            </dl>
            <dl class="col-article">
                <dt>服务支持</dt>
                <dd><a rel="nofollow" href="#" target="_blank">售后政策</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">自助服务</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">相关下载</a></dd>
            </dl>
            <dl class="col-article">
                <dt>线下门店</dt>
                <dd><a rel="nofollow" href="#" target="_blank">xm之家</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">服务网点</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">授权体验店</a></dd>
            </dl>
            <dl class="col-article">
                <dt>关于新蜂</dt>
                <dd><a rel="nofollow" href="#" target="_blank">了解xm</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">加入xm</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">投资合作</a></dd>
            </dl>
            <dl class="col-article">
                <dt>关注我们</dt>
                <dd><a rel="nofollow" href="#" target="_blank">新浪微博</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">官方微信</a></dd>
                <dd><a rel="nofollow" href="#" target="_blank">联系我们</a></dd>
            </dl>
        </div>

    </div>
</div>
</html>